body{
    padding: 2rem;
    background: #ff25ff;
  }

  h1, h2, h3 {
      color: #400A40;
  }
  
h1 {
    font-size: 4.8rem;
}
#favorite {
    display: none;
}

#favorite.open {
    display: block;
}

.favorite-title {
    position: relative;
}

.favorite-img, .favorite-title {
    display: inline-block;
}

.favorite-img {
    margin-bottom: -15px;
}

header{
    position: relative;
    z-index: 1;
  }

header .img-tv {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    margin-right: 20px;
}

header h1 {
    display: inline-block;
}
  
input[type='text'] {
    background-color: #ffffff;
  }

  button {
    background-color: #400A40;
    border-color: #400A40;
  }

  figure {
    background: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    padding: 2rem;
    transition: all .3s linear;
  }
  
  #registerForm, #loginForm{
    width: 50%;
    margin: 25px auto;
    display: block;
  }

  #registerForm.hidden,#loginForm.hidden {
      display: none;
  }

  #registerForm.open,#loginForm.open{
    display: none;
}

#registerForm {
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;  
}

#registerForm h3 {
    color: #000000;
}

#registerForm button {
    background: #000000;
    color: #ffffff;
}
  
#loginForm {
    padding: 20px;
    background: #000000;
    border-radius: 15px;
    margin-bottom: 50px;
}

#loginForm h3 {
    color: #ffffff;
}

#loginForm button {
    background: #ffffff;
    color: #000000;
}

.movieHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.movieHome img {
    width: calc(100%/4);
    margin: 15px;
}

.last-movies {
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#ffffff, #49ff40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  footer{
    text-align: center;
  }

  footer a {
      display: inline-block;
      width: 100%;
      height: 100%;
    max-width: 85px;
  }

  footer p {
    color: white;
    text-align: right;
    font-weight: bold;
  }

  #movieList {
    text-align: center;
  }
  
  #movieList article {
    display: inline-block;
    position: relative;
    width: calc(100%/2.5);
  }

  #movieList figcaption {
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}
  }

  #movieList div div {
    margin: auto;
    width: 50%;
  }
  
  #moviePopin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .5);
    z-index: -10;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .3s;
  }
  
  #moviePopin.open{
    opacity: 1;
    z-index: 1000;
  }
  
  #moviePopin.open.close{
    opacity: 0;
  }
  
  #moviePopin article {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
    background: #000000;
    padding: 1rem;
  }

  #moviePopin article #addFav {
      background: #ffffff;
      color: #000000;
  }

  #moviePopin article #closeButton {
      background: red;
      color: #ffffff;
  }

  #moviePopin article p {
      color:#ffffff;
  }
  
  #moviePopin article div{
    width: calc( 50% - 1rem );
  }

#loading.close {
    display: none;
}

.last-movies.close, .movieHome.close {
display: none;
}


#loading {
   background: #ff25ff;
   text-align: center;
   position: absolute;
   height: 100vh;
   width: 100vw;
   top: 30vh;
   left: 0;
   transition: 2s;
  }