body{
    padding: 2rem;
    background: #ff25ff;
  }

  h1 {
      color: #ffffff;
  }
  
  header{
    position: relative;
    z-index: 1;
  }
  
  figure {
    background: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    padding: 2rem;
    transition: all .3s linear;
  }
  
  #registerForm, #loginForm, footer{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  #registerForm.hidden,#loginForm.hidden {
      display: none;
  }

  #registerForm.open,#loginForm.open{
    display: none;
}
  
  footer{
    text-align: center;
  }
  
  #movieList article {
    display: inline-block;
    position: relative;
  }
  
  .overview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    transform: rotateY(90deg);
    transition: all .3s linear;
    transition-delay: .3s;
  }
  
  #movieList div div {
    margin: auto;
    width: 50%;
  }
  
  #moviePopin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .5);
    z-index: -10;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .3s;
  }
  
  #moviePopin.open{
    opacity: 1;
    z-index: 1000;
  }
  
  #moviePopin.open.close{
    opacity: 0;
  }
  
  #moviePopin article {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
    background: white;
    padding: 2rem;
  }
  
  #moviePopin article div{
    width: calc( 50% - 1rem );
  }

#loading.open {
    background: #ff25ff;
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 8vh;
    left: 0;
}

#loading img {
    transform: translateY(20%);
}

#loading.close {
   display: none;
  }